:root{
    --background-color: #f5f5f5;
    --font-color-alt: rgba(0,114,153,1); 
    --font-color-main: darkgrey;
}
body{
    background-color: var(--background-color);
}
h3{
    color: var(--font-color-alt)
}
img
{
    border:1px solid black; 
}
nav{
    
}
header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 100px;
    width: 100%;
    height: 500px;
    color: white;
    background-color: pink;
    background-image: url("/imgs/HeartofKYWebLogo.jpg");
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    list-style-type: none;
    gap: 20px;
    font-size: 20pt;
    text-decoration: bold;
}
li>ul{
    
}
header>h1{
    align-self: center;
    font-size: 40pt;
    font-family: cursive;
    
}
a .logo{
    display:none;
}
a{
    color: white;
    text-decoration: none;
}