@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Love+Ya+Like+A+Sister&family=Short+Stack&display=swap');
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}
.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}
.love-ya-like-a-sister-regular {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
}
p{
    font-size: 24px !important;
    color: var(--font-color-main) !important;
    font-family: "Happy Monkey";
}
ul{
    font-size: 24px ;
    color: var(--font-color-main) !important;
    font-family: "Happy Monkey";
}
:root{
    --background-color: white;
    --font-color-alt: #EB591E; 
    --font-color-main:  #36454F;
}
body{
    background-color: var(--background-color);
    font-family: "Short Stack";
    line-height: 28px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    background-image: linear-gradient(to right, #F5D55B 50%, #F59E35);
}
header h1{
    color: white;
    display: inline;
    font-size:75px !important;
    flex-grow: 1;
    padding-left: 50px;
}
a[href="https://newvista.org/developmental/keis-birth-to-age-3"] h2{
    border-bottom: 0px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 25px;
    text-decoration: bold;
    font-family: "Love Ya Like A Sister";
    font-size: 43px !important;
    font-weight: 600;
    padding-top: 30px;
    padding-right: 50px;
}
h1.title::before{
    content: "";
    background-image: url(/imgs/sunrise-lines.png);
    display: inline-block;
    width: 150px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
h1.title::after{
    content: "";
    background-image: url(/imgs/simple-blue-heart.png);
    display: inline-block;
    width: 150px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
#home aside{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 200px;
}
aside{
    display: none;
}
aside img{
    width: 100px;
    box-sizing: border-box;
    border-radius: 150px;
    margin: 30px;
}
header>h1{
    align-self:flex-end;
    font-size: 40pt;
    font-family: "Love Ya Like A Sister";
    
}
a .logo{
    display:none;
}
 nav li a{
    color: white;
    text-decoration: none;
}
img[alt = "Facebook"]{
    background: linear-gradient(to top right, #1877f2 , darkblue );
} 
img[alt = "Instagram"]{
background: linear-gradient(to bottom right, #833AB4, #fd1d1d, #fcb045);
}
#inspiration p{
    display: block;
    width: 1200px;
    position: relative;
    left: 350px;
    color: var(--font-color-alt) !important;
    text-align: center;
    padding-right: 100px;
    font-size: 50px !important;
    font-weight: 600;
    line-height: normal;
}
#inspiration::before{
    content: "";
    position: absolute;
    top: 400px;
    left: 200px;
    background-image: url(/imgs/happy-sun.png);
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
#inspiration::after{
    content: "";
    position: absolute;
    top: 400px;
    left: 1950px;
    background-image: url(/imgs/happy-sun.png);
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 225px 10% 0% 10%;
}
#home main{
    padding-top: 0px;
}
img[alt = "First Steps Logo"]{
    height: 290;
    width: 334;
}
img[alt = "School Logo"]{
    height: 290;
    width: 334;
    padding-bottom: 52px;
}
p:has(a[href="https://www.letslearnky.org/#kindergarten-readiness"]){
    color: var(--font-color-alt);
    font-weight: 600;
    font-size: 14pt;
    text-align: center;
}
a{
    color: var(--font-color-alt)
}
address + p{
    font-weight: 800;
}
address + p + p{
    font-weight: 800;
}
#allDonation, #dollyDonation{
    display: inline;
    font-weight: 400;
    font-size: 19px;
    color: var(--font-color-main)
}
address{
    padding-bottom: 0;
    font-weight: 400;
    font-size: 19px;
    color: var(--font-color-main);
    font-style: normal;
}

#preschool .imgwrapper{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

#age03, #age36{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imgwrapper p{
    font-size: 19px;
}
a .phone{
    text-decoration: none;
    color: var(--font-color-main);
}
#age36 ul{
    list-style-type: none;
}
#AddressConcerns>h2{
    display: block;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 2px solid F5D55B;
}
h2{
    display: block;
    padding-bottom: 30px;
    width: 100%;
    color: var(--font-color-alt);
    border-bottom: 2px solid #F5D55B;
    font-size: 40px;
}
#PublicPreschool img{
    padding-top: 30px;
    width: 200px;
}
#PrivatePreschool img{
    padding-top: 10px;
    width: 200px;
}
#preschool ul{
    list-style-type: none;
    text-align: center;
    text-indent: 0;
    width: auto;
}
#preschool .phone{
    text-align: right;
}
.phone{
    color: var(--font-color-main);
    text-decoration: none;
}
#headStartPre{
display: flex;
flex-direction: row;
gap: 60px;
padding-right: 30%;
}
#headStartPre p, a{
    text-align: center;
}
#headStartPre img{
    width:300px;
}
img[alt = "what to look for in childcare"]{
    display: none;
}
#childcare .imgwrapper{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    gap: 50px;
}
#whyChildcare{
    order: -3;
}
#choseChildcare, #childcareBenefits{
    display:flex;
    flex-direction: column;
    width: 920px;
}

#choseChildcare{
    order: 0;
}
#childcareBenefits{
    order: -2;
}
#whyChildcare div {
    width: 1900px;
}
img[alt = "childcare referal site"], img[alt = "childcare benefits site"]{
    height: 200px;
}
#childcare main ul{
    list-style: none;
    padding-left: 0px;
    list-style-position: inside;
    text-align: left;
}
#programs .imgwrapper{
    display: flex;
    flex-direction: row;
    gap: 200px;
}
#programs img{
    height: 485px; 
}
iframe[src="https://www.youtube.com/embed/HVb7yfI0HT4"]{
    width: 464px;
    height: 315px;
    align-self: center;
}
#dolly{
    display: flex;
    flex-direction: column;
}
#programs ul li a{
    background-color: var(--font-color-alt);
    color: white;
    padding: 5px 70px 5px 70px;
    border-radius: 5%;
    text-decoration: none;
}
#programs ul li {
    padding: 10px;
    width: 500px;
}
#programs ul
{
    list-style-type: none;
    gap: 10px;
}
div.note{
    font-size: 27px;
    font-weight: 600;
    color: var(--font-color-alt);
    text-align: center;
}
#AtHome{
    display:none;
}
#kids-and-parents div.imgwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#kids-and-parents img{
    width: 266px;
    height: 266px;
}
#kids-and-parents div.imgwrapper div{
    width: 33%;
    text-align: center;
    line-height: normal;
}
#kids-and-parents div.imgwrapper div ul{
    list-style: none;
    padding-left: 0px;
    list-style-position: inside;
    text-align: center;
}

#kidAdventues div.imgwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#kidAdventues img{
    width: 266px;
    height: 266px;
}
#kidAdventues div.imgwrapper div{
    width: 50%;
    text-align: center;
    line-height: normal;
}
#kidAdventues div.imgwrapper div ul{
    list-style: none;
    font-size: 19px;
    padding-left: 0px;
    list-style-position: inside;
    text-align: center;
}

#newParents div.imgwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#newParents img{
    width: 266px;
    height: 266px;
}
#newParents div.imgwrapper div{
    width: 33%;
    text-align: center;
    line-height: normal;
}
#newParents div.imgwrapper div ul{
    list-style: none;
    padding-left: 0px;
    list-style-position: inside;
    text-align: center;
}

#theraphy div.imgwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#theraphy img{
    width: 266px;
    height: 266px;
}
#theraphy div.imgwrapper div{
    width: 33%;
    text-align: center;
    line-height: normal;
}
#theraphy div.imgwrapper div ul{
    list-style: none;
    padding-left: 0px;
    list-style-position: inside;
    text-align: center;
}

#caregivers div.imgwrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#caregivers img{
    width: 266px;
    height: 266px;
}
#caregivers div.imgwrapper div{
    width: 33%;
    text-align: center;
    line-height: normal;
}
#caregivers div.imgwrapper div ul{
    list-style: none;
    padding-left: 0px;
    list-style-position: inside;
    text-align: center;
}